@model WeddingApp.Models.Band

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Band</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayAtWeek" class="control-label"></label>
                <input asp-for="DayAtWeek" class="form-control" />
                <span asp-validation-for="DayAtWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursPerWedding" class="control-label"></label>
                <input asp-for="HoursPerWedding" class="form-control" />
                <span asp-validation-for="HoursPerWedding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerId" class="control-label"></label>
                <input asp-for="PartnerId" class="form-control" />
                <span asp-validation-for="PartnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partner" class="control-label"></label>
                <input asp-for="Partner" class="form-control" />
                <span asp-validation-for="Partner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeddingCeremonies" class="control-label"></label>
                <input asp-for="WeddingCeremonies" class="form-control" />
                <span asp-validation-for="WeddingCeremonies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bands" class="control-label"></label>
                <input asp-for="Bands" class="form-control" />
                <span asp-validation-for="Bands" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
